**/.git
**/.gitignore
**/.pytest_cache
**/coverage
**/dist
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/build
**/develop-eggs
**/.eggs
**/*.egg-info/
**/*.egg
**/pip-log.txt
**/pip-delete-this-directory.txt
**/.DS_Store
**/Thumbs.db
